<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 类bean引入 -->
    <import resource="beans/beans.xml"></import>

    <!-- sql会话 -->
    <import resource="classpath:sql-session-factory.xml"></import>

    <!-- 打印方法名 -->
    <import resource="classpath:method-loginfo-aop.xml"></import>

    <!-- 事务管理 -->
    <import resource="classpath:transaction-manager.xml"></import>
</beans>