<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.laq.mapper.StudentMapper">

    <insert id="add" parameterType="student">
        <if test="id &lt;= 0">
            insert into student (code, name, age) values (#{code}, #{name}, #{age});
        </if>
        <if test="id > 0">
            insert into student (id, code, name, age) values (#{id}, #{code}, #{name}, #{age});
        </if>
    </insert>

    <select id="selectList" resultType="student">
        select * from student;
    </select>

    <delete id="delete" parameterType="student">
        delete from student where id = #{id};
    </delete>

    <update id="update" parameterType="student">
        update student set id = #{id}, code = #{code}, name = #{name}, age = #{age} where id = #{id};
    </update>

</mapper>